@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.woff2") format("woff2"), url("fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Затемнение элемента */
/* Засветление элемента */
/* Картинка адаптирующаяся по вертикали */
.mb5 {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 2px;
}

.products-wrap {
  margin-bottom: 60px;
}
.products-wrap__filter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  z-index: 100;
  pointer-events: none;
  touch-action: none;
  opacity: 0;
}
.products-wrap__filter._open {
  opacity: 1;
  pointer-events: initial;
  touch-action: initial;
}
.products-wrap__filter .bx-filter-button-box .bx-filter-parameters-box-container {
  display: flex;
  flex-direction: column;
}
.products-wrap__filter .btn.btn-themes {
  background: #c6aa76;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
  box-shadow: 0 0 0 0;
  border-radius: 0;
}
.products-wrap__filter .btn.btn-themes:hover {
  background: #c18e49;
}
.products-wrap__filter .btn.btn-link {
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 292%;
  letter-spacing: -0.01em;
  color: #4a4a4a;
  text-decoration: none;
}
.products-wrap__filter .btn.btn-link:hover {
  color: #c18e49;
}
.products-wrap__filter .bx-filter .bx-filter-title {
  font-weight: 500;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .products-wrap__filter .bx-filter .bx-filter-title {
    font-size: 20px;
  }
}
.products-wrap__filter .bx-filter .bx-filter-section {
  background: #fff !important;
}
.products-wrap__filter .bx-filter-box__search {
  border: 1px solid #d2d3df;
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding: 11px 10px;
  width: 100%;
  margin-bottom: 20px;
}
.products-wrap__filter .bx-filter-section {
  padding: 85px 108px 30px;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .products-wrap__filter .bx-filter-section {
    padding: 20px;
    text-align: left;
    padding-top: 30px;
  }
}
.products-wrap__filter .bx-filter-box__title,
.products-wrap__filter .bx-filter .bx-filter-parameters-box-title span {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 19px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.products-wrap__filter .bx-filter .smartfilter {
  max-width: 282px;
}
.products-wrap__filter .bx-filter-box__visible-toggle {
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: -0.01em;
  color: #4a4a4a;
  display: inline-block;
  cursor: pointer;
}
.products-wrap__filter .bx-filter-box__visible-toggle span:nth-child(2) {
  display: none;
}
.products-wrap__filter .bx-filter-box__visible-toggle:hover {
  border-color: transparent;
}
.products-wrap__filter .bx-filter-box._all-visible .bx-filter-box__visible-toggle span:nth-child(1) {
  display: none;
}
.products-wrap__filter .bx-filter-box._all-visible .bx-filter-box__visible-toggle span:nth-child(2) {
  display: inline;
}
.products-wrap__filter .bx-filter-param-label {
  padding-left: 32px;
  margin-bottom: 5px;
  position: relative;
}
.products-wrap__filter .bx-filter-param-label::after {
  border: 1px solid #d2d3df;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  content: "";
}
.products-wrap__filter .bx-filter .bx-filter-param-label {
  cursor: pointer;
}
.products-wrap__filter .bx-filter .bx-filter-param-label:has(input:checked)::after {
  background-color: #C6AA76;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #C6AA76;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.33203L3.66667 6.66536L1 3.9987' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.products-wrap__filter .bx-filter .bx-filter-param-label:has(input:checked) .bx-filter-param-text {
  font-weight: 500;
}
.products-wrap__filter .bx-ui-slider-track-container {
  margin-left: 0;
}
.products-wrap__filter .bx-filter .bx-ui-slider-track {
  height: 2px;
  position: relative;
}
.products-wrap__filter .bx-filter .bx-ui-slider-range,
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar,
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-vd,
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-vn,
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-v {
  position: absolute;
  top: 0;
  bottom: 0;
}
.products-wrap__filter .bx-filter .bx-ui-slider-handle.left {
  position: absolute;
  top: 100%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #c6aa76;
  display: block;
  margin-left: -11px;
  margin-top: -11px;
}
.products-wrap__filter .bx-filter .bx-ui-slider-handle.right {
  position: absolute;
  top: 100%;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #c6aa76;
  margin-right: -11px;
  margin-top: -11px;
}
.products-wrap__filter .bx-filter__price-row {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  gap: 0 10px;
}
.products-wrap__filter .bx-ui-slider-track-container {
  grid-column: span 2;
}
.products-wrap__filter .bx-filter .bx-ui-slider-track-container {
  padding-top: 29px;
  padding-bottom: 12px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
}
.products-wrap__filter .bx-filter .bx-filter-input-container input {
  border: 1px solid #d2d3df;
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding: 11px 10px;
  width: 100%;
}
.products-wrap__filter .bx-filter .bx-filter-parameters-box-container-block {
  position: relative;
}
.products-wrap__filter .bx-filter .bx-filter-parameters-box-container-block .bx-ft-sub {
  position: absolute;
  left: 31px;
  top: 10px;
  z-index: 10;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  pointer-events: none;
}
.products-wrap__filter .bx-ui-slider-track {
  background: #d9d9d9;
}
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-v,
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-vn {
  background: transparent !important;
}
.products-wrap__filter .bx-filter .bx-ui-slider-pricebar-vd {
  background: #c6aa76;
}
.products-wrap__filter .bx-ui-slider-part {
  display: none;
}
.products-wrap__filter .bx-filter .bx-filter-input-checkbox .bx-filter-param-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #000;
}
.products-wrap__filter .checkbox._visible-hidden, .products-wrap__filter .checkbox._filter-hidden {
  display: none;
}
.products-wrap__filter .bx-filter-box._not-more .bx-filter-box__visible-toggle {
  display: none;
}
.products-wrap__filter .bx-filter-box._all-visible ._visible-hidden {
  display: block;
}
.products-wrap__filter .bx-filter-box {
  margin-bottom: 25px;
}
.products-wrap__filter .bx-filter .bx-filter-input-checkbox input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.products-wrap__filter .bx-filter .bx-ui-slider-range {
  z-index: 80;
}
.products-wrap__filter-close {
  position: absolute;
  top: 90px;
  right: 100px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .products-wrap__filter-close {
    top: 20px;
    right: 20px;
  }
}
.products-wrap__filter-close svg {
  width: 42px;
  height: 42px;
}
@media (max-width: 1024px) {
  .products-wrap__filter-close svg {
    width: 22px;
    height: 22px;
  }
}
.products-wrap__filter-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 2, 4, 0.1);
  transition: opacity 0.3s;
  opacity: 1;
}
.products-wrap__filter._open .products-wrap__filter-overlay {
  opacity: 1;
}
.products-wrap__filter-popup {
  max-width: 50%;
  position: absolute;
  right: 0;
  box-shadow: 0 20px 80px 0 rgba(13, 12, 33, 0.25);
  background: #fff;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform: translateX(100%);
}
@media (max-width: 1024px) {
  .products-wrap__filter-popup {
    max-width: min(90%, 400px);
    transform: translateX(-100%);
    left: 0;
    right: initial;
  }
}
.products-wrap__filter._open .products-wrap__filter-popup {
  transform: translateX(0%);
}
.products-wrap__title {
  color: #000;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 87%;
  letter-spacing: -0.01em;
}
.products-wrap__category-wrap {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
}
.products-wrap__category-wrap::before {
  transform: translateX(-50%);
  left: 50%;
  height: 1px;
  width: 100vw;
  background: #e8e8e8;
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
}
.products-wrap__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px 9px;
  padding: 1px 0;
  margin: 0;
  margin-bottom: 30px;
}
.products-wrap__categories li {
  margin: 0;
  padding: 0;
}
.products-wrap__categories li::before, .products-wrap__categories li::after {
  display: none;
}
.products-wrap__categories li a {
  border: 1px solid #d2d2d2;
  border-radius: 80px;
  padding: 6px 10px;
  font-weight: 400;
  line-height: 100%;
  font-size: 13px;
  color: #6a6a6a;
}
.products-wrap__categories li a:hover {
  border-color: #000;
}
.products-wrap__categories li a._active {
  color: #000;
  border-color: #000;
}
.products-wrap__sub-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.products-wrap__sub-categories li {
  margin: 0;
  padding: 0;
}
.products-wrap__sub-categories li::before {
  display: none;
}
.products-wrap__sub-categories li::after {
  display: inline-block;
  content: "/";
  margin: 0 8px 0 5px;
  font-size: 10px;
  color: #b7b7b7;
}
.products-wrap__sub-categories li:last-child::after {
  display: none;
}
.products-wrap__sub-categories li a {
  font-weight: 400;
  font-size: 13px;
  color: #323232;
}
.products-wrap__head {
  display: flex;
  flex-direction: row;
  margin-top: 17px;
  z-index: 1;
  position: relative;
}
.products-wrap__filter-open {
  border: 1px solid #000;
  border-radius: 80px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 13px;
  color: #000;
}
.products-wrap__filter-open svg {
  width: 16px;
  height: 16px;
}
.products-wrap__sort {
  position: relative;
  z-index: 4;
  margin-right: auto;
}
.products-wrap__sort-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: -0.01em;
  color: #000;
}
@media (max-width: 1024px) {
  .products-wrap__sort-title {
    font-size: 18px;
  }
}
.products-wrap__sort-close {
  position: absolute;
  right: 35px;
  top: 30px;
  width: 18px;
  cursor: pointer;
  height: 18px;
  color: #000;
}
.products-wrap__sort-close:hover {
  color: #ee4035;
}
.products-wrap__sort-close svg {
  width: 18px;
  height: 18px;
}
.products-wrap__sort-open {
  font-weight: 500;
  font-size: 13px;
  line-height: 269%;
  letter-spacing: -0.01em;
  color: #000;
  position: relative;
}
.products-wrap__sort-open span {
  color: #8f8e8e;
}
@media (max-width: 1024px) {
  .products-wrap__sort-open span {
    font-size: 0;
  }
}
.products-wrap__sort-open span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L1 1' stroke='%238F8E8E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  display: inline-block;
  content: "";
  width: 10px;
  height: 6px;
  margin-left: 6px;
  transition: transform 0.3s;
}
@media (max-width: 1024px) {
  .products-wrap__sort-open span::after {
    font-size: 12px;
  }
}
.products-wrap__sort._open .products-wrap__sort-open span::after {
  transform: rotate(180deg);
}
.products-wrap__popup {
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 23px 35px;
  position: absolute;
  left: 99px;
  top: 40px;
  min-width: 309px;
  touch-action: none;
  pointer-events: none;
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: transform 0.5s, opacity 0.3s;
  text-align: left;
}
@media (max-width: 1024px) {
  .products-wrap__popup {
    left: 0;
  }
}
.products-wrap__sort._open .products-wrap__popup {
  touch-action: initial;
  pointer-events: initial;
  opacity: 1;
  transform: translateY(0px) scale(1);
}
.products-wrap__popup-body {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1024px) {
  .products-wrap__popup-body {
    gap: 6px;
  }
}
.products-wrap__popup-option {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  text-align: left;
}
.products-wrap__popup-option input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
@media (max-width: 1024px) {
  .products-wrap__popup-option {
    font-size: 11px;
  }
}
.products-wrap__popup-option:hover {
  color: #c18e49;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  z-index: 0;
  gap: 24px;
  margin-top: 25px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

.show-more {
  border: 1px solid currentColor;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #8f8e8e;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
}
.show-more:hover {
  color: #c18e49;
}/*# sourceMappingURL=product-grid.css.map */