@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.woff2") format("woff2"), url("fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Затемнение элемента */
/* Засветление элемента */
/* Картинка адаптирующаяся по вертикали */
.mb5 {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 2px;
}

.card-product {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .card-product {
    padding: 10px;
    padding-bottom: 15px;
  }
}
.card-product__slider {
  aspect-ratio: 371/329;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: -30px -30px 53px -30px;
}
@media (max-width: 1024px) {
  .card-product__slider {
    aspect-ratio: 165/145;
    margin: -10px -10px 30px -10px;
  }
}
.card-product__slide {
  flex: 1;
}
.card-product__slide._active img {
  z-index: 3;
}
.card-product__slide img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.card-product__is-new, .card-product__one-tag {
  background: #ecd900;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 11px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
@media (max-width: 1024px) {
  .card-product__is-new, .card-product__one-tag {
    padding: 7px;
    font-size: 11px;
  }
}
.card-product__sale {
  position: absolute;
  padding: 7px 12px;
  right: 0;
  top: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: #b12729;
  background: #f7eff0;
  z-index: 5;
}
@media (max-width: 1024px) {
  .card-product__sale {
    font-size: 15px;
    padding: 7px;
  }
}
.card-product__tags {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  margin-bottom: 9px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .card-product__tags {
    gap: 2px 5px;
  }
}
.card-product__tags li {
  border: 1px solid #d2d2d2;
  border-radius: 80px;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.card-product__tags li a {
  line-height: 130%;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 10px;
  display: inline-block;
  color: #6a6a6a;
}
@media (max-width: 1024px) {
  .card-product__tags li a {
    font-size: 8px;
    padding: 4px 6px;
  }
}
.card-product__tags li a:hover {
  color: #c6aa76;
}
.card-product__tags li:before {
  display: none;
}
.card-product__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .card-product__title {
    font-size: 12px;
    margin-bottom: 18px;
  }
}
.card-product__title:hover {
  color: #c6aa76;
}
.card-product__in-stock {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.card-product__similar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 30px;
  bottom: 18px;
  gap: 8px;
  align-items: center;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
  background: #fff;
  color: #c6aa76 !important;
  padding: 7px 13px;
  border-radius: 800px;
  z-index: 10;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
.card-product__similar svg {
  width: 16px;
  height: 16px;
}
.card-product__similar:hover {
  color: #c18e49;
}
@media (max-width: 1024px) {
  .card-product__similar {
    font-size: 0px;
    gap: 0;
    right: 10px;
    bottom: 10px;
    padding: 7px;
  }
}
.card-product__bottom {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.card-product__bottom._column-style .card-product__ui, .card-product__bottom._no-price .card-product__ui {
  width: 100%;
}
.card-product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
  text-align: left;
}
@media (max-width: 1024px) {
  .card-product__price {
    font-size: 18px;
  }
}
.card-product__price::after {
  display: inline-block;
  content: " ₽";
  font-size: 16px;
  text-decoration: none;
  margin-left: 4px;
}
.card-product__price-old {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  text-align: left;
  color: #a9a9a9;
}
@media (max-width: 1024px) {
  .card-product__price-old {
    font-size: 13px;
  }
}
.card-product__price-old::after {
  display: inline-block;
  content: " ₽";
  text-decoration: none;
  font-size: 11px;
  margin-left: 4px;
}
.card-product__ui {
  width: 100%;
  margin-left: auto;
}
.card-product__add {
  padding: 11px 5px;
  background: #c6aa76;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
  display: block;
  width: 100%;
}
.card-product__ui.active .card-product__add {
  display: none;
}
.card-product__add:hover {
  background: #c18e49;
}
.card-product__in-basket {
  padding: 11px 5px;
  color: #c6aa76;
  border: 1px solid #c6aa76;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  background: #fff;
  display: none;
  width: 100%;
}
@media (max-width: 1024px) {
  .card-product__in-basket {
    font-size: 0px;
    width: 27px;
    height: 27px;
    padding: 0;
    text-align: center;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .card-product__ui.active .card-product__in-basket {
    display: flex;
  }
  .card-product__in-basket::after {
    content: "-";
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
}
.card-product__ui.active .card-product__in-basket {
  display: block;
}
.card-product__in-basket:hover {
  background: #c18e49;
  color: #fff;
}
.card-product__basket {
  border: 1px solid #a3a3a3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-product__basket-sub, .card-product__basket-add {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  width: 15px;
}
.card-product__basket-sub:hover, .card-product__basket-add:hover {
  color: #c18e49;
}
.card-product__basket-count {
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  display: block;
  width: 40px;
  text-align: center;
  border: 0 solid;
  margin-left: auto;
  margin-right: auto;
}
.card-product__basket-delete {
  width: 14px;
  height: 14px;
  color: #000;
  cursor: pointer;
}
.card-product__basket-delete:hover {
  color: #ee4035;
}
.card-product__slider-pagi-dot {
  width: 3px;
  height: 3px;
  background: rgba(208, 208, 208, 0.5);
  border-radius: 6px;
  transition: width 0.6s, background 0.3s;
}
.card-product__slider-pagi-dot._active {
  width: 18px;
  background: #a3a3a3;
}
.card-product__slider-pagi {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 3;
  justify-content: center;
  gap: 12px;
}/*# sourceMappingURL=product-card.css.map */