@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.woff2") format("woff2"), url("fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/local/static/assets/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Italic.woff2") format("woff2"), url("/local/static/assets/OpenSans-Italic.woff") format("woff"), url("/local/static/assets/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/local/static/assets/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Regular.woff2") format("woff2"), url("/local/static/assets/OpenSans-Regular.woff") format("woff"), url("/local/static/assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/local/static/assets/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-BoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-BoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/local/static/assets/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBold.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/local/static/assets/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/local/static/assets/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-LightItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-LightItalic.woff") format("woff"), url("/local/static/assets/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/local/static/assets/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Bold.woff2") format("woff2"), url("/local/static/assets/OpenSans-Bold.woff") format("woff"), url("/local/static/assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/local/static/assets/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/local/static/assets/OpenSans-SemiBoldItalic.woff") format("woff"), url("/local/static/assets/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/local/static/assets/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-ExtraBold.woff2") format("woff2"), url("/local/static/assets/OpenSans-ExtraBold.woff") format("woff"), url("/local/static/assets/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/local/static/assets/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/local/static/assets/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/local/static/assets/OpenSans-Light.woff2") format("woff2"), url("/local/static/assets/OpenSans-Light.woff") format("woff"), url("/local/static/assets/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Затемнение элемента */
/* Засветление элемента */
/* Картинка адаптирующаяся по вертикали */
.mb5 {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 2px;
}

.brands {
  margin-top: 60px;
}
.brands h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 117%;
  letter-spacing: -0.01em;
  color: #000;
  text-align: left;
}
@media (max-width: 1024px) {
  .brands h2 {
    font-size: 20px;
  }
}
.brands__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .brands__grid {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

.card-brand {
  position: relative;
  border: 1px solid #e2e2e2;
  padding: 35px 30px;
  text-align: left;
}
@media (max-width: 1024px) {
  .card-brand {
    padding: 10px;
  }
}
.card-brand__img-wrap {
  margin-top: -35px;
  margin-left: -30px;
  margin-bottom: 20px;
  margin-right: -30px;
  aspect-ratio: 371/243;
  position: relative;
}
@media (max-width: 1024px) {
  .card-brand__img-wrap {
    margin: -10px;
    margin-bottom: 15px;
  }
}
.card-brand__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  -o-object-fit: contain;
     object-fit: contain;
}
.card-brand__title {
  font-weight: 500;
  text-align: left;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 9px;
}
.card-brand__title::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  content: "";
}
.card-brand__desc {
  margin-bottom: 15px;
}
.card-brand__desc p {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  text-align: left;
  color: #000;
  margin-bottom: 5px;
}
.card-brand__more {
  font-weight: 400;
  font-size: 11px;
  color: #6a6a6a;
}
.card-brand:hover .card-brand__more {
  color: #c18e49;
}/*# sourceMappingURL=brands.css.map */